


canvas {
  position: relative;
  border-radius: 20px;
  object-fit: contain;
  width: 100%;
    height: 100%;
    
    font-family: Material Icons;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  paddng: 0;
  width: 100%;
}



@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url("/Pacifico-Regular.ttf") format('truetype');
}

