



body {
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


footer {
    border-top: 1px solid #dadce0;
    position: absolute;
    bottom: 0px;
    padding: 2.4em;
    width: 100%;

  
    letter-spacing: normal;
    color: #3c4043;
}

footer p {
    margin-bottom: 0px;
    font-weight: 500;
}


.web-title {
    position: relative;
    margin-left: 1.6em;
}

nav {
    padding: 1em 0;
}

.icon-b {
    position: absolute;
    margin-top: 8px;
}

.b1 {
    position: absolute;
    width: 1em;
    height: 1.4em;
    background-color: #3c4043;
}
.b2 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 6px;
    top: 6px;
    background-color: #ffffff;
    transform: rotate(45deg);
}
.b3 {
    position: absolute;
    left: 1em;
    top: 0;
    width: 1em;
    height: 4px;
    background-color: #3c4043;
}
.b4 {
    position: absolute;
    left: 1em;
    top: 10px;
    width: 1em;
    height: 4px;
    background-color: #3c4043;
}




.game-c {
    letter-spacing: 2px;
    position: absolute;
    width: 100%;
    height: 100%;
}


#canvas {
    border-radius: 0px;
    width: 100%;
    height: 100%;
    
    object-fit: contain;
}



.game-c {
    position: relative;
}


.game-title {
    position: absolute;
    left: 7%;
    top: 7%;
    color: #fff;
}

h2.text {
    position: absolute;
    left: 37%;
    bottom: 47%;
    color: #fff;
}


a.next {
    position: absolute;
    right: 7%;
    bottom: 27%;
    color: #fff;
    background: hsl(214deg 70% 31%);
    border-radius: 6px;
    padding: 13px;
    color: #fff;
}

a.retry {
    position: absolute;
    left: 30%;
    bottom: 7%;
    color: #fff;
    background: hsl(214deg 70% 31%);
    border-radius: 6px;
    padding: 13px;
    color: #fff;
}

a.menu {
    position: absolute;
    left: 47%;
    bottom: 7%;
    color: #fff;
    background: hsl(214deg 70% 31%);
    border-radius: 6px;
    padding: 13px;
    color: #fff;
}



a.start {
    position: absolute;
    right: 7%;
    bottom: 17%;
    color: #fff;
    background: hsl(214deg 70% 31%);
    border-radius: 6px;
    padding: 13px;
    color: #fff;
}


a.pause {
    position: absolute;
    left: 7%;
    bottom: 7%;
    color: #fff;
    background: hsl(214deg 70% 31%);
    border-radius: 6px;
    padding: 13px;
    color: #fff;
}


p.leveltext {
    position: absolute;
    left: 17%;
    bottom: 7%;
    color: #fff;
}


a.lvl1 {

    
}


.levels {
    position: absolute;
    left: 37%;
    bottom: 27%;
}

.levels a {
    background: hsl(214deg 70% 31%);
    border-radius: 6px;
    padding: 13px;
    color: #fff;

}


.levels-2 {
    margin-top: 37px;
}







