

#btn1 {

  position: absolute;
    border: #FFF solid 5px;
    border-radius: 13px;
    padding: 2em;
    left: 9%;
    width: 45%;
    bottom: 39%;
    color: rgb(233 233 233);
    font-size: 17px;
    font-family: 'Raleway';
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 4px;
}


.ctrlb {
  position: absolute;
  font-size: 10px;
  
  width: 60px;
  height: 60px;
  
  border-radius: 7px;
  border: #fff solid 4px;
  
  bottom: 4px;

  
  }


#btnl {
  left: 20px;
  }
#btnr {

  right: 90px;

  }
#btnj {
  right: 70px;
  }


#btn3 {
    position: absolute;

    top: 5%;
    left: 5%;

    width: 74px;

  



    color: rgb(233 233 233);

    font-size: 13px;

    font-family: 'Raleway';
    
    
    
    }



body {
    overflow: hidden; /* Hide scrollbars */
    margin: 0;
}


p {

    z-index: 20;
    position: absolute;
    left: 50%;
    margin-left: -65px;
    top: 58%;
    color: hsl(216deg 87% 21%);
    font-size: 23px;
    font-family: 'Raleway';
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 7px;
}


#text1 {
  
    position: absolute;
    left: 285px;
    bottom: 76px;
    color: rgb(143 152 155);
    font-size: 23px;
    font-family: 'Raleway';
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 12px;
}


.c {
    width: 24px;
    height: 24px;
    background-color: blue;
    display: block;
    margin-bottom: 7px;
}

.container {
    text-align: center;

}

.paper {

    position: relative;
    
   /* padding-top: 1em;
    height: 400px;*/
}

canvas {
  
    /*border-radius: 20px;*/
  object-fit: contain;
  width: 100%;
    height: 100%;
}
